<!--
 Copyright 2014 Eliseu Silva Torres

 This file is part of MininetWeb.

 MininetWeb is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Mininet is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with MininetWeb.  If not, see http://www.gnu.org/licenses.
-->



<!doctype html>

<title>Teste</title>

{% block body %}

<form action="{{ url_for('simple_topo') }}" method=post>
	<dl>
		<dd><input type=submit value=start>
	</dl>
</form>

{% endblock %}
